<!doctype html>
<html>
  <head>
    <title>John Moods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="assets/style.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/ScrollToPlugin.min.js"></script>
  </head>
  <body>
    <div class="zoomers">

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span>John Moods</span>
      </div>

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span>John Moods</span>
      </div>

      {% for item in site.data.navigation.nav_items %}
        <div class="zoomer" data-id="{{ item.label }}" style="background: {{ item.bg }}">
          <span style="color: {{ item.text }}">{{ item.label }}</span>
        </div>
      {% endfor %}

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span>John Moods</span>
      </div>

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span>John Moods</span>
      </div>

      </div>
      <div id="scroller">
      <span></span>
    </div>
    <div class="content" id="Videos">
      <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pQQ7Q9SEhf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/pQQ7Q9SEhf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/pQQ7Q9SEhf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/pQQ7Q9SEhf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="content" id="About">
      {{ site.data.about.text | markdownify }}
    </div>
    <script src="assets/script.js"></script>
  </body>
</html>