<!doctype html>
<html>
  <head>
    <title>John Moods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="assets/style.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/ScrollToPlugin.min.js"></script>
  </head>
  <body>
    <div class="zoomers">

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span style="color: {{ site.data.navigation.intro_text }}">John Moods</span>
      </div>

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span style="color: {{ site.data.navigation.intro_text }}">John Moods</span>
      </div>

      {% for item in site.data.navigation.nav_items %}
        <div class="zoomer" data-id="{{ item.label }}" style="background: {{ item.bg }}">
          <span style="color: {{ item.text }}">{{ item.label }}</span>
        </div>
      {% endfor %}

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span style="color: {{ site.data.navigation.intro_text }}">John Moods</span>
      </div>

      <div class="zoomer" style="background: {{ site.data.navigation.intro_bg }}">
        <span style="color: {{ site.data.navigation.intro_text }}">John Moods</span>
      </div>

      </div>
      <div id="scroller">
      <span></span>
    </div>

    <img src="assets/back.svg" class="back" />

    <div class="content tour-dates" id="Tour" style="background: {{ site.data.about.bg }}; background-image: url({{ site.data.about.bg_img | replace: '/site/', '' }})">

      <h1>Tour</h1>

      <div id="tour-dates">
        <p>No upcoming tour dates</p>
      </div>
    </div>
    <div class="content" id="Videos" style="background: {{ site.data.about.bg }}; background-image: url({{ site.data.about.bg_img | replace: '/site/', '' }})">

      <h1>Videos</h1>

      <div class="videos">

        {{ site.data.videos.embeds }}

      </div>
    </div>
    <div class="content" id="About" style="background: {{ site.data.about.bg }}; background-image: url({{ site.data.about.bg_img | replace: '/site/', '' }})">

      <h1>About</h1>

      {{ site.data.about.text | markdownify }}
    </div>
    <script src="assets/script.js"></script>
  </body>
</html>