@font-face {
  font-family: "Polsku";
  src: url("fonts/Polsku.woff") format("woff"),
     url("fonts/Polsku.ttf") format("truetype");
}

html {
  font-size: 1vw;
}

a {
  color:  currentColor;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-smooth: never;
  -webkit-font-smoothing : subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeSpeed;
  font-family: "Polsku", Helvetica, Arial, sans-serif;
  color: white;
  background: black;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

body.open-content {
  overflow: hidden;
}

.zoomers {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  transition:  transform 1s ease;
  transform:  translateZ(0px) scale(1);
}

.open-content .zoomers {
  transform:  translateZ(0px) scale(0) rotate(360deg);
  transform-origin: 60% 20%;
}

.zoomer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: blue;
  text-align: center;
  display: flex;
  -webkit-backface-visibility: hidden;
  font-size: 4rem;
  will-change: transform;
  transform: translateZ(0) scale3d(1,1,1);

  cursor: pointer;
}

.zoomer span:hover {
  color: white;
}

.zoomer * {
  will-change: transform;
}

.zoomer span {
  margin:  auto;
}

.zoomer:nth-child(2) {
  background: red;
}

.zoomer:nth-child(3) {
  background: green;
}

#scroller {
  position: relative;
}

.content {
  position: fixed;
  top:  0;
  left:  0;
  right:  0;
  bottom:  0;
  z-index: 90;
  transition:  opacity 0.5s ease;
  background:  black;
  opacity: 0;

  text-align: center;
  
  -webkit-backface-visibility: hidden;
  font-size: 2rem;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;

  transform: translateZ(0px) scale(1);
  will-change: transform;

  overflow-y:  auto;
}

.back {
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  width:  3rem;
  height: auto;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.15s ease;
}

.back:hover {
  transform:  rotate(-10deg);
}

.content iframe {
  display: block;
  margin:  10vh auto 10vh;
  width:  50vw;
  height: 28.125vw;
  min-width: 300px;
  min-height:  168.75px;
}

.content p {
  width: 80vw;
  margin:  auto;
}

.open-content .content.open {
  transform:  translateZ(0px) scale(1);
  opacity: 1;
}

.content.open {
  z-index: 95;
}

.open-content .back {
  opacity: 1;
  pointer-events: auto;
}

#tour-dates {
  margin: auto;
  padding:  0 0 10vh;
}

#tour-dates p {
  margin:  1.5em;
}

#tour-dates a {
  text-decoration: none;
  display: inline-block;
}

#tour-dates small {
  font-size:  0.75em;
}

#tour-dates a:hover span {
  text-decoration: underline;
}

@media (max-width: 760px) {
  html {
    font-size:  2.5vw;
  }
}